@model ProductModel


<div class="item">
    <div class="image-section">
        <img class="image-collection-item" src="@Model.ImageUrl" alt="" />
        @if (ViewBag.NoMenu == null)
        {
            <div class="menu">
                <div class="icons">
                    <button class="link"><i class="fa-regular fa-code-compare"></i></button>
                    <button class="link"><i class="fa-regular fa-heart"></i></button>
                    <button class="link"><i class="fa-regular fa-bag-shopping"></i></button>
                </div>
                <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@Model.ProductId" class="btn-theme">QUICK VIEW</a>
            </div>
        }
    </div>
    <div class="body-section">
        <div class="name">@Model.Title</div>
        <partial name="~/Views/Shared/Partials/_StarRatingPartial.cshtml" model="Model.Rating" />
        <div class="price">@Model.Price</div>
    </div>
</div>





