@model CollectionModel

<section class="collection-grid">
    <div class="container">
              
        <div class="title">@Model.Title</div>
              
        <div class="item-collection">
                       
                @foreach(var item in Model.CollectionItemModel)
                {
                    <partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" model="item"></partial>
                }
                    
        </div>
    </div>
</section>
