
<div class="offer-grid container-fluid">
    <img id="office-style" src="~/images/office-style.png" alt="" />

    <div class="offer">
        <div class="red-border">
            <div class="content">
                <h1>50% Offer</h1>
                <p>Lorem ipsum dolor?</p>
                <button class="btn-white">FLASH SALE</button>
            </div>
        </div>
    </div>
    <img src="~/images/party-style.png" alt="" />
</div>