@model ProductAddRequestViewModel
@{
    ViewBag.Title = "Add Product";
}

<section class="user-input-content mt-5">
    <div class="container user-input-links-item">
        <a asp-controller="Home" asp-action="Index" class="user-input-link">Home > </a>
        <span class="user-input-text">Add Product</span>
    </div>

    <div class="container">
        <form class="user-input-form" asp-controller="Product" asp-action="PostProduct" method="post" novalidate>

            <h6 class="user-input-title">Add Product</h6>

            <div class="user-input-item">
                <input class="user-input" asp-for="Title" placeholder="Title" />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Price" placeholder="Price" />
                <span asp-validation-for="Price"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Rating" placeholder="Rating" />
                <span asp-validation-for="Rating"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="ImageUrl" placeholder="Image Url" />
                <span asp-validation-for="ImageUrl"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Details" placeholder="Details" />
                <span asp-validation-for="Details"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="SKU" placeholder="SKU" />
                <span asp-validation-for="SKU"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Brand" placeholder="Brand" />
                <span asp-validation-for="Brand"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Date" placeholder="Date" />
                <span asp-validation-for="Date"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Color" placeholder="Color" />
                <span asp-validation-for="Color"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="CategoryId" placeholder="Category Id" />
                <span asp-validation-for="CategoryId"></span>
            </div>


            
                <div class="col-lg-6">
                    <button class="btn-theme mt-5" type="submit">Add Product</button>
                </div>
           

        </form>
    </div>
</section>