@model ContactViewModel;
@{
    ViewBag.Title = "Contacts";
}

<section class="user-input-content">

    <div class="container user-input-links-item">
        <a asp-controller="Home" asp-action="Index" class="user-input-link">Home > </a>
        <span class="user-input-text">Contacts</span>
    </div>

    <img class="contacts-img" src="~/images/stockholm.png" />

    <div class="container user-input-form">

        <form asp-controller="Contact" asp-action="Contact" method="post" novalidate>
            
            @if (ViewBag.Register == null)
            {
                <h6 class="user-input-title">Come in Contact with US</h6>
            }
            else
            {
                <h6 style="color:aquamarine" class="user-input-title">@ViewBag.Register</h6>
            }
            
            <div class="row">
                <div class="user-input-item col-lg-6">
                    <input class="user-input" asp-for="Name" placeholder="Your Name" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="user-input-item col-lg-6">
                    <input class="user-input" asp-for="Email" placeholder="Your Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            
            <div class="user-input-item">
                <textarea asp-for="Comment" class="input-comment" placeholder="Comments"></textarea>
                <span asp-validation-for="Comment"></span>
            </div>

            <div class="user-input-item">
                <button class="input-button" type="submit">Post Comments</button>
            </div>                    
        </form>

        
      
    </div>

    

</section>